.hidden {
    display: none;
}

.unhidden {
    background-color: antiquewhite !important;
}

.hide-link {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
    color: darkblue;
    background-color: antiquewhite;
    padding: 5pt 10pt 5pt 10pt;
    border-radius: 5px;
}
