.hidden {
    display: none;
}

.unhidden {
    background-color: antiquewhite !important;
}

.hide-result-link {
    font-size: small !important;
}

.result-hidden {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
    color: darkblue;
    background-color: antiquewhite;
    padding: 5pt 10pt 5pt 10pt;
    border-radius: 5px;
    margin-bottom: 14px;
}
